.dropdownMenuButton {
    background-color: #F7F7F7;
}
ul li {
    list-style-type: none;
}

ul li a {
    color: black;
}

.section-2bg {
    background-color: #58B792;
    color:#FFFFFF;
    
}

.section-2bg .btn {
    background-color: #2C5B49;
    border-color: #2C5B49;
    
    
}
.section-3bg {
    background-color: #F5A339;
    color:#FFFFFF;
    
}
.section-3bg .btn {
    background-color: #7A511E;
    border-color:#7A511E;
}
.section-4bg {
    background-color: #5F62BD;
    color:#FFFFFF;
}
.section-4bg .btn {
    background-color: #2F325F;
    border-color:#2F325F;
}
.section-5bg {
    background-color: #87CEF5;
    color:#365374;
}
.section-5bg .btn {
    background-color: #2F325F;
    border-color:#2F325F;
}

.container {
    margin-top: 4vh;
}
.jumbotron {
    margin-top: 0em;
}
.btn-group {
    border-color: grey;
}
.section-5bg a {
    color: black;
    font-weight: 500;
}